/* 전체 틀 */
body {
    width: 100vw;
    margin: 0px;
    background-color:antiquewhite;
    scrollbar-width: none;
}

/* header */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    z-index: 1;

    padding-left: 30px;
    padding-right: 30px;
    background-color:saddlebrown;
}

.title {
    display: flex;
    justify-content: center;
    color: burlywood;
} /* OOCSS 적용 (2) title 공통속성 */


/* 화면 중간 부분 컨테이너 (nav + main)*/
.container {
    display: flex;
}

/* nav */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 110px;
    left: 20px;

    min-width: 200px;
    height: 300px;
    margin: 20px 50px 20px 20px;
}

.nav-skin {
    background-color: floralwhite;
    border-radius: 10px;
} /* OOCSS 적용 (1) nav와 nav-skin */

.nav .a {
    margin: 5px 0px 5px 0px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.nav .a-skin {
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: saddlebrown;
    font-weight: bold;
} /* OOCSS 적용 (1) a와 a-skin */

.nav .a:hover {
    background-color: saddlebrown;
    color: white;
}

/* main */
main {
    width: 75vw;
    position: sticky;
    left: 300px;
    right: 300px;

    display: flex;
    flex-direction: column;
}

/* 이미지 배너 */
.image_box {
    height: 150px;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

.image_roll {
    display: flex;
    width: 100%;
    animation: imagemove 10s linear infinite;
} /* OOCSS 적용 (2) image_roll 공통속성 */

.image_roll img {
    margin-right: 10px;
}

.image_box:last-child {
    animation-delay: 10s;
}

@keyframes imagemove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 상품 나열 */
section {
    padding-top: 75px;
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 350px;

    margin-right: 10px;
    margin-bottom: 20px;
}

.product-skin {
    background-color:floralwhite;
    border-radius: 10px;
} /* OOCSS 적용 (1) product와 product-skin */

.product img {
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
}

.product button {
    background-color: transparent;
    border: none;
}

/* product hover 적용*/
.product:hover {
    animation: productscale 1s linear infinite;
}

@keyframes productscale {
    0% {
        transform:scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
          transform: scale(1);
      }
}

.product button:hover {
color: red;
}

.product button:active {
    color: red;
}

/* product 반응형 */
@media screen and (max-width: 900px){
    .product {
        width: 250px;
        height: 400px;
    }
    .product :first-child {
        width: 200px;
    }
}

@media screen and (max-width: 742px) {
    .product {
        width: 300px;
        height: 450px;
    }
    .product :first-child{
        width: 250px;
    }
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;
    margin-top: 100px;
    text-align: center;
} 

.footer-skin {
    background-color:rgb(149, 104, 62);
    color: aliceblue;
} /* OOCSS 적용 (1) footer와 footer-skin */