/* 전체 틀 */
body {
    margin: 0rem;
    background-color:antiquewhite;
}

/* header */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0rem;
    width: 100%;
    z-index: 1;
    background-color:saddlebrown;
}

header i {
    color: burlywood;
    margin: 20px;
}

.title {
    display: flex;
    justify-content: center;
    color: burlywood;
} /* OOCSS 적용 (2) title 공통속성 */


/* 화면 중간 부분 컨테이너 (nav + main)*/
.container {
    display: flex;
}

/* nav */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 8rem;
    left: 2rem;
    min-width: 12rem;
    height: 20rem;
    margin-right: 5rem;
}

.nav-skin {
    background-color: floralwhite;
    border-radius: 0.5rem;
} /* OOCSS 적용 (1) nav와 nav-skin */

.nav .a {
    margin: 0.4rem 0px 0.4rem 0px;
    width: 6rem;
    border-radius: 6rem;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
}

.nav .a-skin {
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: saddlebrown;
    font-weight: bold;
} /* OOCSS 적용 (1) a와 a-skin */

.nav .a:hover {
    background-color: saddlebrown;
    color: white;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 17rem;
}

/* 이미지 배너 */
.image_box {
    display: flex;
    width: 68rem;
    overflow: hidden;
}

.image_roll {
    display: flex;
    animation: imagemove 10s linear infinite;
} /* OOCSS 적용 (2) image_roll 공통속성 */

.image_roll img {
    height: 9rem;
    margin-right: 0.7rem;
}

.image_box:last-child {
    animation-delay: 10s;
}

@keyframes imagemove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 상품 나열 */
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    scroll-margin-top: 5rem;
}

.category {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 1.2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;
    height: 23rem;
    margin-bottom: 1rem;
}

.product-skin {
    background-color:floralwhite;
    border-radius: 0.5rem;
} /* OOCSS 적용 (1) product와 product-skin */

.product img {
    width: 80%;
    margin: 1.2rem;
    border-radius: 0.5rem;
}

.product button {
    background-color: transparent;
    border: none;
}

/* product 반응형 */
@media screen and (max-width: 1350px) {
    .category {
        grid-template-columns: repeat(4, 200px);
    }
    .image_box {
        width: 54rem;
    }
}

@media screen and (max-width: 1140px) {
    .category {
        grid-template-columns: repeat(3, 200px);
    }
    .image_box {
        width: 40.5rem;
    }
}

@media screen and (max-width: 900px) {
    .category {
        grid-template-columns: repeat(2, 250px);
    } 
    .product {
        width: 16rem;
        height: 25rem;
    }
    .image_box {
        width: 33rem;
    }
}

@media screen and (max-width: 800px) {
    .category {
        grid-template-columns: repeat(1, 1fr); 
    }
    .product {
        width: 18rem;
        height: 27rem;
    }
    .image_box {
        width: 18rem;
    }
}



/* product hover 적용*/
.product:hover {
    animation: productscale 1s linear infinite;
}

@keyframes productscale {
    0% {
        transform:scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
          transform: scale(1);
      }
}

.product button:hover,
.product button:active {
    color: red;
}



/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 15rem;
    text-align: center;
} 

.footer-skin {
    background-color:rgb(149, 104, 62);
    color: aliceblue;
} /* OOCSS 적용 (1) footer와 footer-skin */